*{
    margin: 0;padding: 0;box-sizing: border-box;
}
ul,li,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.container{
    /* max-width: 1320px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
img{
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    box-sizing: border-box;
}
figure{
    overflow: hidden;
}

section{
    padding: 100px 0;
}

.clients-slider{
    width: 100%;
    overflow: hidden;
}

.clients-track{
    display: flex;
    transition-timing-function: linear !important;
}
.clients-slide{
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
.clients-slide img{
    height: 40px;
    width: auto;
}