*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
section{
    padding: 100px 0;
}
h2{
    font-size: 3.5rem;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}